@font-face {
   font-family: 'JosefinSans-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/isma_/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-02_150823/fonts/JosefinSans-VariableFont_wght/font.ttf');
}
